.challenge-mode-container {
  @include flex-center;
  flex-direction: column;
}

.challenge-mode-table {
  width: 100%;
  border-collapse: collapse;
  th {
    text-align: left;
    padding: 10px;
    background-color: $apple-green;
  }
  td {
    text-align: left;
    padding: 10px;
  }
}
