.games-title {
  @include flex-center;
  padding: 1rem;
  margin-bottom: 3rem;

  border-radius: 15px;
  background-color: $yellow;
  border: 2px solid $current-font-color;
}

.games-container-cards {
  @include flex-center;
  flex-wrap: wrap;
  gap: 1rem;
}

// TEST MODE
.test-mode-container {
  @include neumorphism-container;
}

.test-mode-btn {
  display: block;
  margin: 0 auto;
}

.test-mode-count {
  margin-top: 1rem;
  font-size: 1.5rem;
}

// CHALLENGE MODE
.challenge-mode-container {
  @include neumorphism-container;
}

.challenge-mode-table {
  width: 100%;
  margin-bottom: 4rem;
  border-radius: 15px;

  th {
    overflow: hidden;
    padding: 10px;

    border: 2px solid $yellow;
    background-color: $apple-green;

    text-align: left;
    text-transform: uppercase;
  }

  td {
    text-align: left;
    padding: 10px;
  }
}

// CHRONO MODE
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.easy {
  background-color: $yellow;
  animation: blink 2s infinite;
}

.medium {
  background-color: $orange;
  animation: blink 1.5s infinite;
}

.hard {
  background-color: $red;
  animation: blink 1s infinite;
}
