.loading-anim {
  position: fixed;
  inset: 0;
  background-color: $green;
  background-image: url("/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
