@import "../utils/variables";

// btn to submit subscribe form
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #144cff;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;

  .submit-btn::before,
  .submit-btn::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #144cff;
    transition: 0.3s;
  }

  .submit-btn::before {
    top: 0;
  }

  .submit-btn::after {
    bottom: 0;
  }

  .submit-btn:hover::before {
    transform: translateX(-100%);
  }

  .submit-btn:hover::after {
    transform: translateX(100%);
  }
}

// btn disable free homeMenu
.start-button {
  padding: 0.5rem, 1rem;
  background-color: $yellow;
  color: $current-font-color;
  border: 1px solid $current-font-color;
  cursor: pointer;
  font-family: $current-font;
  font-size: 16px;
  padding: 0.2rem;
  border-radius: 10px;

  &:hover {
    background-color: $apple-green;
  }
}

// btn restart game
.restart-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: cadetblue;
  color: white;
  border: none;
  cursor: pointer;
}

.restart-button:hover {
  background-color: darksalmon;
}

.signup-form-btn {
  margin: 1.7rem;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background-color: $apple-green;
  box-shadow: 0px 10px 10px -3px $apple-green;

  font-family: $current-font;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px white;
}
