.card {
  @include flex-center;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  background-size: contain;
  border: 1px solid $current-font-color;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  background-image: url("/images/memory-card.png");

  text-align: center;
  font-size: 2rem;
}

.card:hover {
  cursor: pointer;
}

.clicked-card {
  background-image: none;
  background-color: $yellow;
}

.end-game-alert {
  @include flex-center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1.5rem 2rem 3.5rem;
  transform: translate(-50%, -50%);

  background-color: $orange;
  border-radius: 1rem;
  border: 2px solid $current-font-color;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

  text-transform: uppercase;
  font-size: larger;
  z-index: 1000;
}

.alert-content {
  text-align: center;
}

.alert-content button:hover {
  background-color: $orange;
}

.themes-card {
  @include flex-center;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  background-size: contain;

  text-align: center;
  font-size: 2rem;
}

/////////////////////////////////
/// PROFILE CARD
/////////////////////////////////
.profile-card-container {
  @include neumorphism-container;
  @include flex-center;
  flex-direction: column;

  .profile-card-avatar {
    border-radius: 1rem;
    display: block;
    width: 100%;
    height: auto;
  }

  .profile-card-name {
    font-family: $title-font;
  }
}
