.card {
  @include flex-center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-size: contain;
  background-image: url("/images/memory-card.png");

  text-align: center;
  font-size: 2rem;
}

.card:hover {
  // à mettre en requète média pour 1100px
  background-color: $orange;
  cursor: pointer;
}

.clicked-card {
  background-image: none;
  background-color: $yellow;
}

.end-game-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $orange;
  padding: 2rem;
  z-index: 1000;
  border-radius: 15px;
}

.alert-content {
  text-align: center;
}

.alert-content button:hover {
  background-color: $orange;
}

.themes-card {
  @include flex-center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-size: contain;

  text-align: center;
  font-size: 2rem;
}
