// pop up for choosing number of cards
.choose-form {
  @include flex-center;
  flex-direction: column;
  border: 2px solid $current-font-color;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: $orange;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

  .choose-form-title {
    font-family: $title-font;
  }

  .choose-input {
    padding: 0.7rem 0.4rem;
    border-radius: 15px;
    font-family: $title-font;
    text-align: center;
  }

  .choose-form-btn {
    @include global-btn;
  }

  .error-msg {
    color: red;
  }
}
