.themes-card {
  background-size: contain;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
