body {
  background: $green;
  background: -webkit-linear-gradient(to left, $green, $orange);
}

.circles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 35px;
  height: 35px;
  background: url("../../../public/images/back-cards/back-animals.webp");
  background-size: cover;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 10s;
  background: url("../../../public/images/animals/snake.webp");
  background-size: cover;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 55px;
  height: 55px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: url("../../../public/images/animals/monkey.webp");
  background-size: cover;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
  background: url("../../../public/images/animals/elephant.webp");
  background-size: cover;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 75px;
  height: 75px;
  animation-delay: 0s;
  background: url("../../../public/images/animals/parrot.webp");
  background-size: cover;
}

.circles li:nth-child(6) {
  left: 5%;
  width: 110px;
  height: 110px;
  animation-delay: 10s;
  background: url("../../../public/images/animals/eagle.webp");
  background-size: cover;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 125px;
  height: 125px;
  animation-delay: 8s;
  background: url("../../../public/images/animals/panda.webp");
  background-size: cover;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 65px;
  height: 65px;
  animation-delay: 12s;
  animation-duration: 35s;
  background: url("../../../public/images/animals/shark.webp");
  background-size: cover;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 100px;
  height: 100px;
  animation-delay: 15s;
  animation-duration: 25s;
  background: url("../../../public/images/back-cards/back-monuments.webp");
  background-size: cover;
}

.circles li:nth-child(10) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 2ms;
  animation-duration: 20s;
  background: url("../../../public/images/back-cards/back-heros.webp");
  background-size: cover;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
