body {
  height: 100vh; /*height 100 vh pour la prod*/
  background-image: url(../../../public/images/memory-card_transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green;
}
