// COLORS
$apple-green: #8fdb3e;
$green: #62d28f;
$orange: #ffbd3e;
$red: #ff937f;
$yellow: #fffc2e;

$current-font-color: rgb(17, 57, 57);

// TYPOGRAPHY
$title-font: "Bungee";
$current-font: "Source sans 3";
$alert-font: "Source sans 3";
$warning-font: "Source sans 3";
$info-font: "Source sans 3 i";
