
// COLORS
// $primary-color: ; // used for main background
$secondary-color: #ffbd3e; // used for secondary titles
$tertiary-color: #fffc2e;
$quaternary-color: #8fdb3e;
$quinary-color: #62d28f;

// ALERT COLORS
$current-font-color: rgb(17, 57, 57);
// $alert-color: ; // used for alert messages
$warning-color: #ff937f; // used for warning
// $info-color: ; // used for informational messages

// TYPOGRAPHY
$title-font: 'Bungee';
$current-font: 'Source sans 3'; // used for current messages
$alert-font: 'Source sans 3'; // used for alert messages
$warning-font: 'Source sans 3'; // used for warning
$info-font: 'Source sans 3 i'; // used for informational messages
